*{
	padding: 0;
	margin: 0;
	border: 0;
}

html, body {
	text-align: justify;
	width: 100%;
	font-family: serif, Georgia;
	font-size: 12pt;
	margin: auto;
}

p, a, h1, h2, h3, h4, h5, h6 {
	color: black;
}

h1, h2 {
	text-align: center
}

#menu, #nav, .navhelper, .noleggiobtn, .similbutton, .printHide, .ham, #hamlbl, #top, #ninja, #menubtn, #lightboxcontainer, #leftfooter, #rightfooter, button, img{
	display: none;
}

div#breadcrumbs{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-top: .5em;
	padding-bottom: .5em;
}

div#contenuto{
	padding-bottom: 2em;
}

div#disclaimer{
	padding-top: .5em;
	border-top: 1px solid black;
}

label{
	float: left;
	clear: left;
}

form{
	border: 1px solid black;
	padding: .5em;
}

/*PAGINA COSA OFFRIAMO*/

a#prenotalasala, a#noleggiastrumenti, a#contattaci{
	display:none;
}

.offerta{
	padding: 1em;
	border: 1px solid black;
	margin-top: 1em;
}

h2{
	padding-bottom: .5em;
}

/*PAGINA NOLEGGIO STRUMENTAZIONE*/

.strumentazione{
	border: 1px solid black;
	margin-top: 1em;
}

img.immagine_strumento {
    display: block;
    margin: 1em;
    float: left;
	max-width: 10%;
	max-height: 10%;
}

.descrizione_strumento {
    padding: 0.5em;
}

p#contenutonoleggio{
	padding-top: 1em;
	padding-bottom: 1em;
}

div#resarea{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: .3em;
	margin-top: 1em;
}

form.noleggio{
	border: none;
}

.tastonoleggio {
	display: none;
}

/*PAGINA PRENOTAZIONE SALE*/

table#RoomBooks{
	margin-top: 1em;
	margin-bottom: 1em;
	border: 2px solid black;
	border-collapse: collapse;
}

table td, table th{
	border: 1px solid black;
	padding: .3em;
}

table caption{
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

thead tr{
	text-align: center;
}

td.bookstatusyourbooking{
	width: 15em;
	font-weight: bold;
}

td.bookstatusavailable{
	width: 15em;
}

td.booktime{
	width: 5em;
	font-weight: bold;
}

div.istruzioni_prenotazioni_noleggi{
	padding-top: 1.5em;
}

h3.prenotazioni{
	padding-top: .5em;
	padding-bottom: 1em;
}

.placeholder{
	display:none;
}

form#Verifica{
	border: none;
}

/*PRIVACY POLICY*/

h3.privacy{
	padding-top: 1em;
	padding-bottom: 1em;
}

h4.privacy{
	padding-top: .5em;
	padding-bottom: .5em;
}

dt.titolocookies{
	font-weight: bold;
	padding-left: .5em;
	padding-top: .5em;
}

dd.descrizionecookies{
	padding-left:1em;
}

/*MAPPA DEL SITO*/

ol.sitemap{
	padding-top: 1em;
	padding-left: 2em;
}

ul.sitemap, ul.instructions{
	padding-left: 1em;
}

/*PANNELLO UTENTE*/

hr{
	height: 1em;
	clear: both;
}

button.adminbtn{
	display: initial;
	padding-left: 1em;
	float: left;
	clear: both;
	background-color: white;
}

legend.legenda{
	padding-bottom: .5em
}

form.formModificaAccount{
	margin-top: .5em;
	margin-bottom: 1em;
}

table#roomSearch, table#rentals{
	border: 2px solid black;
	border-collapse: collapse;
	margin-top: 2.5em;
}

/*PANNELLO AMMINISTRAZIONE*/

form.adminForm{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: none;
	border-right: none;
}

form#uploadForm{
	margin-top: 1em;
}

table#usersearch{
	border: 2px solid black;
	border-collapse: collapse;
	margin-top: 2em;
}
