*{
	padding: 0;
	margin: 0;
	border: 0;
}

html, body {
	width: 100%;
	font-family: serif, Georgia;
	font-size: 12pt;
	margin: auto;
}

p, a, h1, h2, h3, h4, h5, h6 {
	color: black;
}

h1, h2 {
	text-align: center
}

img{
	display: none;
}

div.logindialog{
	border: 2px solid black;
	padding-top: 2em;
	padding-bottom: 2em;
	border-radius: 2em;
	text-align: center
}

input{
	border: 2px solid black;
	width: 20em;
	padding: .4em;
}

.formwrapper{
	padding: .5em;
	display: block;
	margin: 0 auto 2em auto;
	max-width: 40%;
}

button{
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	border-radius: 1em;
	padding: .5em;
}

label{
	display: block;
	font-weight: bold;
}

legend{
	font-weight: bold;
}

form{
	padding-top: 1.5em;
}

div#errorlist{
	border: 1px solid black;
	padding: .5em;
	width: 20em;
	margin: .5em auto 1em auto;
}

/*PAGINA LOGIN*/

button#submitbtn{
	margin-top: 1em;
}

/*PAGINA REGISTRAZIONE*/

div#signindialog{
	border: 2px solid black;
	padding-top: 2em;
	padding-bottom: 2em;
	border-radius: 2em;
	text-align: center
}

