*{
	padding: 0;
	margin: 0;
	border: 0;
}

html, body {
	text-align: justify;
	width: 100%;
	font-family: serif, Georgia;
	font-size: 12pt;
	margin: auto;
}

p, a, h1, h2, h3, h4, h5, h6 {
	color: black;
}

h1, h2 {
	text-align: center
}

#menu, #nav, .navhelper, #top, #ninja, #menubtn, #lightboxcontainer, #leftfooter, #rightfooter, img{
	display: none;
}

div#breadcrumbs{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-top: 1.5em;
	margin-bottom: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
}

div#contenuto{
	padding-bottom: 2em;
}

div#disclaimer{
	padding-top: .5em;
	border-top: 1px solid black;
}

/*PAGINA COSA OFFRIAMO*/

a#prenotalasala, a#noleggiastrumenti, a#contattaci{
	display:none;
}

.offerta{
	padding: 1em;
	border: 1px solid black;
	margin-top: 1em;
}

h2{
	padding-bottom: .5em;
}

/*  BOZZA PRINT.CSS  */
