/*
 * -----------------------------------------------------------------
 *  PAGINA COSA OFFRIAMO
 * -----------------------------------------------------------------
 */

.offerta{
		position: relative;
		overflow: hidden;
		margin-top: 1em;
		border: 1px solid white;
		padding: 1em;
 }

.immaginegrande{
        position: relative;
        overflow: hidden;
		float: left;
        max-width: 40%;
}

.contenutoofferta{
        position: relative;
        float: left;
        max-width: 60%;
}

.imgpiccole{
        position: relative;
		text-align: center;
		max-width: 100%;
}

.immaginepiccola{
		margin-top: 2em;
		margin-left: .5em;
		margin-right: .5em;
		margin-bottom: 1em;
		border: 1px solid white;
		max-width: 45%;
}


.imggrande{
        position: relative;
        margin-top: 2em;
        margin-right: 2em;
		border: 1px solid white;
		max-width: 90%;
}

.imggrande1{
        position: relative;
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
		border: 1px solid white;
		max-width: 90%;
}

.descrizione{
        position: relative;
        margin: auto;
        max-width: 100%;
		padding: .5em .5em .5em 0;
}

div#contenuto dd{
	margin-left: 2em;
}
