/*
 * -----------------------------------------------------------------
 * PAGINA LOGIN/REGISTRAZIONE/404
 * -----------------------------------------------------------------
 */

body{
        background: url("../Images/layout/piramide.png");
        background-repeat: repeat;
        background-position: center;
}

img{
        width: 10em;
}

div.logindialog, div#signindialog, label, h1, a, p.evident{
        color: #FFFFFF;
}

div#titolo404{
	border: 2px solid #FF6600;
	background-color: black;
	max-width: 60%;
	display: block;
	margin: 2em auto;
}

div.logindialog{
        border: 1px solid white;
        padding-top: 4em;
        background-color: #333333;
        text-align: center;
        width: 80%;
        border-radius: 2em;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
}

div#signindialog{
        border: 1px solid white;
        padding-top: 1em;
        background-color: #333333;
        text-align: center;
        width: 80%;
        border-radius: 2em;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
}

input{
        padding: .5em;
        border: 2px solid #FF3300;
        width: 20em;
}

input:focus{
        background-color: #FFDD00;
}

input#submitbtn{
        margin: 1em;
        padding: .5em 2em .5em 2em;
}

label{
        font-weight: bold;
        display: block;
}

a{
        font-weight: bold;
        color: #FF3300;
}

span#loginStatus{
        color: #FF3300;
        font-weight: bold;
}

p.evident{
        font-weight: bold;
}

div#errorlist{
        background-color: #FF0000;
        border-radius: 3em;
        border: 1px solid #FFCC00;
        width: 80%;
        margin:auto;
        font-weight: bold;
}

input.wrong{
        background-color: #FF2222;
}

input.placeholder{
        color: #999999;
}


button {
        background-color: #FF3300;
        border: none;
        color: black;
        padding: .7em 1.5em;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        margin: 1em auto 1em auto;
        vertical-align: middle;
        font-size: 1.3em;
        cursor: pointer;
        border-radius: 1em;
        text-decoration:none;
}

button:hover{
        background-color: #FF6600;
}

fieldset{
        border: 0;
}

div#div404{
        border: 2px solid #FF6600;
        border-radius: 2em;
}

ul#indicazioni{
		list-style: none;
		margin-top: 2em;
}

.loginlink{
		color: white;
}
