*{
        border: 0;
        padding: 0;
        margin: 0;
}

div#holder{
        position: relative;
        min-height: 100%;
}

input, select{
        width: 90%;
        float: none;
}

div#menu{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: initial;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
}

div#menu img#logo{
        padding: .5em;
        width: 30%;
}

div#menu li.navbtn a{
        border-bottom: 1px solid white;
        padding: 0.7em;
}

li#login{
        padding: 0;
}

div#menu li#login a{
        padding: .7em;
}

div#menubtn {
        z-index: 1000;
        display: block;
        position: absolute;
        top: 2em;
        left: 0;
}

div#closemenubtn {
        z-index: 1000;
        display: block;
        position: absolute;
        top: 2em;
        left: 0;
}

div#menubtn a, div#closemenubtn a{
        padding: .7em;
        background-color: white;
        border-radius: .5em;
        margin: .5em;
        border: 3px solid #FF3300;
        font-size: large;
        color: black;
        text-decoration: none;
}

div#contenuto, div#breadcrumbs, div#header, div#footer{
        margin-left: 0;
}

div#footer{
        padding-bottom:110vh;
}

div#contenuto{
        padding: .5em;
        /*width: 100%;*/
}

img#homeprova{
        max-width: 80%;
        margin: 1em auto 1em auto;
        float: none;
}

div#footer div#leftfooter, div#footer div#rightfooter{
        width: 90vw;
        float: none;
}

.lefticon{
        padding-left: 0;
}

.lefticon#phone{
        background-image: none;
}

.lefticon#email{
        background-image: none;
}

.lefticon#facebook{
        background-image: none;
}

.lefticon#twitter{
        background-image: none;
}

.lefticon#info{
        background-image: none;
}

.lefticon#fax{
        background-image: none;
}

h1.hide{
        background-size: 100%;
}

br{
        clear: none;
}

label{
        float: none;
        text-align: left;
}

form button{
        width: 50%;
        display: block;
        margin: .5em auto;
}

/* Tabelle Mobile*/

table.tableReflow, .tableReflow thead, .tableReflow tbody, .tableReflow th, .tableReflow td, .tableReflow tr, .tableReflow caption{
        display: block;
}

table caption{
        border-bottom: 1px solid white;
}

thead tr{
        position: absolute;
        height: 0px;
        overflow: hidden;
        border: none;
        left: -99999px;
}

table tr{
        border: 1px solid #ccc;
}

table td{
        border: none;
        border-bottom: 1px solid #eee;
        padding-left: 35%;
        overflow: auto;
}

table.tableReflow td{
        position: relative;
}

/* Uso la pseudoclasse before per creare degli headers*/
td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 30%;
        padding-right: .5em;
        /*white-space: nowrap;*/
}

/*Correzioni per lightbox*/
div#suggerimento{
        display: none;
}

div#lightbox img, div#lightbox{
        max-height: 95vh;
        max-width: 95vh;
}
