 /*
  * ------------------------------------------------------------------
  * PAGINA NOLEGGIO
  * ------------------------------------------------------------------
  */
  
 div#contenuto h2#titolonoleggio{
	padding-top: 0em;
 }
 
 .strumentazione{
	overflow: hidden;
	margin-top: 1em;
	border: 1px solid white;
	padding: 1em;
 }
 
 .nondisponibile{
	border: 2px solid red;
 }
 
 .descrizione_strumento{
	float: left;
	max-width: 68%;
 }
 
 .tastonoleggio{
	text-align: right;
 }
 
 img#casse_noleggio{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }

 img#led{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }  
 
 img#led1{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }
 
  img#strobo{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }
 
  img#cdj{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }
