 /*
  * ------------------------------------------------------------------
  * PAGINA NOLEGGIO
  * ------------------------------------------------------------------
  */
  
 div#contenuto h2#titolonoleggio{
	padding-top: 0em;
 }
 
 .contenutoheader{
    position: relative;
    width: 100%;
    float: left;
 }
 
 .strumentazione{
	position: relative;
    max-width: 100%;
    float: left;
	overflow: hidden;
	margin-top: 1em;
	border: 1px solid white;
	padding: 1em 1em 6em 1em;
 }
 
 .nondisponibile{
	border: 2px solid red;
 }
 
 .descrizione_strumento{
	float: left;
	max-width: 50%;
 }
 
 .tastonoleggio{
	/*text-align: right;*/
	position: absolute;
	bottom: 15px;
	right: 15px;
 }
 
 img#casse_noleggio{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }

 img#led{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }  
 
 img#led1{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }
 
  img#strobo{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }
 
  img#cdj{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }
