/* REGOLE DI RESET */
*{
        border: 0;
        padding: 0;
        margin: 0;
}
/*
 * -----------------------------------------------------------------
 * PAGINA LOGIN/REGISTRAZIONE/404
 * -----------------------------------------------------------------
 */

body{
        background: url("../Images/layout/piramide.png");
        background-repeat: repeat;
        background-position: center;
}

img{
        width: 10em;
        padding-bottom: .25em;
}

img#centro404{
        width: 30%;
}

img#centro50x{
        width: 15%;
}


div.logindialog, div#signindialog, label, h1, a, p.evident{
        color: #FFFFFF;
}

h1.titolologin{
		margin-top: .25em;
}

div.logindialog{
        border: 1px solid white;
        padding-top: 2em;
        padding-bottom: 2em;
        background-color: #333333;
        text-align: center;
        width: 80%;
        border-radius: 2em;
        margin: 1em auto 1em auto;
        overflow: auto;
}

div#signindialog{
        border: 1px solid white;
        padding-top: 2em;
        padding-bottom: 2em;
        background-color: #333333;
        text-align: center;
        width: 80%;
        border-radius: 2em;
        margin: 1em auto 1em auto;
        overflow: auto;
}

ul.indicazioni li{
		list-style: none;
		margin-top: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    display: inline-block;
    border: 3px solid #FF3300;
    border-radius: 2em;
    background-color: black;
}

.loginlink{
		color: white;
}

div#BrokenLink{
	border-top: 3px solid #FF3300;
	border-bottom: 3px solid #FF3300;
	background-color: black;
	/*border-radius: 2em;*/
	padding: .5em;
	margin-top: 1em;
	margin-bottom: 2em;
}

input{
        padding: .5em;
        border: 2px solid #FF3300;
        width: 20em;
}

input:focus{
        background-color: #FFDD00;
}

input#submitbtn{
        margin: 1em;
        padding: .5em 2em .5em 2em;
}

label{
        font-weight: bold;
        display: block;
}

a{
        font-weight: bold;
        color: #FF3300;
}

span#loginStatus{
        color: #FF3300;
        font-weight: bold;
}

p.evident{
        font-weight: bold;
}

div#errorlist{
        width: 40%;
        margin:auto;
        padding: 1em;
        color: #FFFFFF;
        font-weight: bold;
        margin-bottom: 1em;
        background-color: #000000;
        background-image: url("../Images/layout/warn.svg");
        background-position: center left .5em;
        background-repeat: no-repeat;
        background-size: auto 3em;
        border: 2px solid #FF0000;
        padding: 1em 0 1em 4.5em;

}

input:focus, select:focus, textarea:focus{
        background-color: #FFFF66;
}

input.wrong{
        background-color: #FF2222;
}

input.placeholder{
        color: #999999;
}


button {
        background-color: #FF3300;
        border: none;
        color: black;
        padding: .7em 1.5em;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        margin: 1em auto 1em auto;
        vertical-align: middle;
        font-size: 1.3em;
        cursor: pointer;
        border-radius: 1em;
        text-decoration:none;
}

button:hover{
        background-color: #FF6600;
}

fieldset{
        border: 0;
}

.formwrapper{
		border: 1px solid white;
		padding: .5em;
		display: block;
		margin: 0 auto 2em auto;
		max-width: 40%;
}

.legenda{
		font-weight: bold;
		padding-left: .5em;
		padding-right: .5em;
}

.formbtn{
		float: right;
}
