 /*
  * ------------------------------------------------------------------
  * PAGINA NOLEGGIO
  * ------------------------------------------------------------------
  */

 .contenutoheader{
    position: relative;
    width: 100%;
    /*float: left;*/
 }

 .strumentazione{
	position: relative;
	max-width: 100%;
	/*float: left;*/
	overflow: hidden;
	margin-top: 1em;
	border: 1px solid white;
	padding: 1em 1em 6em 1em;
 }

 div#pagearea{
	width: 100%;
	text-align: center;
	margin-top: 1em;
	border-top: 1px solid white;
	border-bottom: 1px solid white;

 }

 .pagenumber{
   font-weight: bold;
 }

 div#resarea{
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   font-weight: bold;
   text-align: center;
   width: 100%;
   margin-top: 1em;
 }

 .descrizione_strumento{
	float: left;
	max-width: 50%;
 }

 .tastonoleggio{
	position: absolute;
	bottom: 1em;
	right: 1em;
 }

img.immagine_strumento{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
}


 img#casse_noleggio{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }

 img#led{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }

 img#led1{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }

  img#strobo{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }

  img#cdj{
	display: block;
	float: left;
	max-width: 30%;
	border: 1px solid white;
	margin-bottom: 1em;
	margin-right: 1em;
 }
