/*
 * -----------------------------------------------------------------
 * PAGINA HOME
 * -----------------------------------------------------------------
 */
 
 ul#home{
		list-style: none;
}

img#homeprova{
        display: block;
        float: right;
        margin-left: 2em;
        border: 1px solid white;
        max-width: 50%;
}
