[Desktop Entry]
Icon=application-vnd.google-apps.document
Name=index.php
Type=Link
URL=https://docs.google.com/document/d/13UsUpjZ04nn-b4ef-JXrn0d3XncRn0UtlgOiyttWKfs/edit?usp=drivesdk
