[Desktop Entry]
Icon=application-vnd.google-apps.document
Name=Contenuti
Type=Link
URL=https://docs.google.com/document/d/1wyv7wJoiJgHWkvQKeTcAdx_0LLEe2ur4X7n3UdHdvTs/edit?usp=drivesdk
